@import "../../style.scss";
.receptionists {
    @include themify($themes){

        margin-top: 20px;
        min-height: calc(100vh - 90px);
        background-color: themed("bg");
        
        
    }
}