@import "../../style.scss";
.profile {
    @include themify($themes){

        background-color: themed("bg");
        margin-top: 20px;
        height: calc(100vh - 90px);
        -webkit-box-shadow: 0px -1px 14px -5px rgba(0,0,0,0.17);
        -moz-box-shadow: 0px -1px 14px -5px rgba(0,0,0,0.17);
        box-shadow: 0px -1px 14px -5px rgba(0,0,0,0.17);

        .container {
            padding: 40px;
            display: flex;
            gap: 50px;

            .left {
                flex: 0.4;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    height: 200px;
                    width: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: 30px;
                }
                .userInfo {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    span {
                        font-size: 30px;
                        font-weight: 500;
                        color: themed("textSecondary");
                        text-align: center;
                    }

                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        -webkit-box-shadow: 0px -1px 14px -5px rgba(0,0,0,0.17);
                        -moz-box-shadow: 0px -1px 14px -5px rgba(0,0,0,0.17);
                        box-shadow: 0px -1px 14px -5px rgba(0,0,0,0.17);
                        padding: 10px 20px;

                        .label, 
                        .value {
                            font-size: 18px;
                            font-weight: 500;
                            color: themed("textColorSoft")
                        }
                        .label {
                            margin-right: 10px;
                        }
                    }
                }
            }

            .right {
                flex: 0.6;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 30px;
                gap: 50px;
                .top {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    span {
                        font-size: 30px;
                        font-weight: 500;
                        color: themed("textSecondary");
                        text-align: center;
                        margin-bottom: 20px;
                    }

                    .info {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        .item {
                            display: flex;
                            flex-direction: column;
                            gap:0px;
                            .label {
                                color: themed("logo");
                                font-size: 18px;
                                line-height: 18px;
                            }

                            .value {
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }
                }

                .bottom {
                    display: flex;
                    flex-direction: column;
                    .heading {
                        width: 100%;
                        font-size: 30px;
                        font-weight: 500;
                        color: themed("textSecondary");
                        text-align: center;
                        margin-bottom: 40px;
                        text-align: center;
                        
                    }

                    .bio {

                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 15px;

                        
                        .label, 
                        .value {
                            text-align: left;
                            font-size: 18px;
                            font-weight: 500;
                            color: themed("textColorSoft")
                        }

                        .label{
                            height: 15px;
                            margin-bottom: 0;
                            color:themed("logo")
                        }
                    }
                }
            }
        }
    }
}